# secrets
.env
*.json.key
service-account*.json
credentials*.json

# python
__pycache__/
*.pyc
.venv/
.pytest_cache/
.ipynb_checkpoints/

# data & models
data/*
!data/.gitkeep
*.duckdb
models/*.pkl

# misc
.DS_Store
.idea/
.vscode/
infra/terraform/.terraform/
*.tfstate*
